@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1519638399535-1b036603ac77?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#quote-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow:0 10px 10px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Otomanopee One', sans-serif;
    font-size: large;
    /* display: flex; */
    

}

#newQuoteBtn {
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: 'Otomanopee One', sans-serif;
    font-size: large;
    color: black;
    background-color: grey;
    padding: 0.8rem 1.5rem;
}

#newQuoteBtn:hover {
    filter:brightness(115%);
}

#newQuoteBtn:active {
    transform: translateY(0.3rem);
}

/* Media Query */
@media only screen and (max-width: 900px) {
    #quote-container {
        margin: 0 10px;
    }
}